.left {
    width: 200px;
    height: 600px;
    margin-left: 150px;
}
.navbars img{
  width: 100%;
  height: 50px;
  background-size: contain;

}
a {
  color: rgb(255, 185, 127);
  
}
li {
    text-decoration: none;
    list-style: none;
    line-height: 30px;
 }
.main {
    position: absolute;
    left: 400px;
    top: 100px;
  }
  .left ul li a {
    text-decoration: none;
  }
  .fab {
    font-size: 25px;
  }
  .left_2 {
    font-size: 12px;
  }
  .bottom {
    position: absolute;
    bottom: -1250px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 900px;
    height: 400px;
    
  }