 body {
     background-color: wheat;
 }
#form{
    width: 600px;
    border: 1px solid;
    height: 500px;
    text-align: center;
    border-radius: 10px;
    background-color: turquoise;
}
.form__inp {
    width: 500px;
    height: 40px;
    margin: 4px;
    border-radius: 10px;
    border-color: rgb(127, 255, 127);
}
.left {
    width: 200px;
    height: 600px;
    margin-left: 150px;
}
.navbars img{
  width: 100%;
  height: 50px;
  background-size: contain;

}
a {
  color: rgb(255, 185, 127);
  
}
li {
    text-decoration: none;
    list-style: none;
    line-height: 30px;
 }
.main {
    position: absolute;
    left: 400px;
    top: 130px;
  }
  .main .text {
    margin: 10px 10px;
  }
  .left ul li a {
    text-decoration: none;
  }
  .fab {
    font-size: 25px;
  }
  .left_2 {
    font-size: 12px;
  }
  .bottom {
    position: absolute;
    bottom: -1250px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 900px;
    height: 400px;
    
  }
  .d-flex {
    width: 500px;
   position: absolute;
   left: 580px;
  }
  .icons {
    width: 40px;
    height: 40px;
    margin: 2px 2px 2px -1px;
  }
  .icons:hover {
    background-color: rgb(76, 0, 255);
  }
  #form__btn {
      width: 100px;
      height: 35px;
      border-radius: 25px;
      background-color: blueviolet;
      border-color: blueviolet;
      color: white;
      margin-top: 5px;
  }
  #form__btn:hover {
      background-color: yellowgreen;
      border-color: yellowgreen;
  }
  .form__btns a {
    list-style: none;
    color: white;

  }