body {
    background-image: url(./assets/tan-bg-texture.jpg);
}
.main {
    width: 600px;
    height: 696px;
    border: 1px solid;
    border-radius: 5px;
    border-color: wheat;
    background-color: white;
    text-align: center;
    margin-left: 350px;
}
.dis_item {
    width: 250px;
    height: 46px;
    border: 1px solid;
    text-align: center;
    margin-bottom: 10px;
    margin-left: 170px;
    margin-top: 20px;
    border-radius: 5px;
    cursor: pointer;
}
.icon_1 {
    background-color: #3b5998;
    border-color: #3b5998;
    color: white;
}
.icon_2 {
    background-color: #f5d47a;
    border-color: #f5d47a ;
}
.icon_3 {
    border-color: black;
}
.input {
    width: 400px;
    height: 35px;
    margin-bottom: 15px;
   
}